body {background-color: yellow;}
* {padding-left: 2px;}
.Ala_H00 {color: blue; font-family: 'Times New Roman'; font-style: italic;}
#Hilal_H00 {margin: auto; color: red; background-color: darkgreen; font-family: 'Trebuchet MS'; font-weight: bold; text-decoration: underline; border-top: 4px dotted white; border-bottom: 6px dashed white; width: 10%; text-align: center;}
